@import "../../common/scss/helpers.scss";

#MatrixHighlightLoginForm {
    margin: 0 auto 0 auto;
    max-width: 25rem;

    .loginError {
        @include bordered-block;
        color: tomato;
        border-color: tomato;
        padding: 0.625rem;
    }
}
