@import "../../common/scss/helpers.scss";

.matrix-highlight #LoginForm {
    text-align: left;
    margin: 0 auto 0 auto;
    max-width: 25rem;

    input[type="text"], input[type="password"] {
        width: 100%;
        box-sizing: border-box;
    }

    .login-error {
        @include bordered-block;
        color: tomato;
        border-color: tomato;
        padding: 0.625rem;
    }
}
