@import "../../common/utils.scss";

.matrix-highlight .room-list {
    @include padded-list;
    margin-bottom: 1em;
    flex-grow: 0;
    flex-basis: auto;

    .room {
        @include padded-list-item;
        &:last-child {
            border-bottom: none;
        }
    }
    .room-icon {
        @include padded-list-icon;
    }

    .room-name {
        @include padded-list-name;
    }

    .room-info {
        @include padded-list-body;
    }

    button {
        margin-right: 0.5em;
    }

    .accept-button {
        background-color: #94ff9f;
        box-shadow: 0px 0px 5px rgba(#94ff9f, 70%);
    }

    .reject-button {
        background-color: #ff9b94;
        box-shadow: 0px 0px 5px rgba(#ff9b94, 70%);   
    }
}
