.matrix-highlight .tools-menu nav {
    display: flex;
    align-items: center;
    margin-bottom: 2em;

    h1 {
        margin: 0;
        margin-bottom: 0.2em;
    }

    .feather {
        height: 1.5em;
        width: 1.5em;
        margin-right: 1em;
        cursor: pointer;
    }
}
