@import "../../common/utils.scss";

.matrix-highlight .quote-list {
    @include bordered-block;
    overflow: auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
    flex-basis: 0;
    flex-grow: 1;

    .quote {
        @include bordered-block;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;

        .input-group {
            margin-bottom: 0;

            button {
                padding: 0.25rem;
            }
        }

        .quote-color {
            background-color: rgb(var(--highlight-color));
            border-radius: 100%;
            margin-left: 0.5rem;
            padding: 0.25rem;
        }

        .quote-data {
            flex-grow: 1;
            padding: 0.5rem;
            flex-basis: 0;
        }
    }
};
