@import "../../common/utils.scss";

.matrix-highlight  .room-select {
    input:focus {
        /* Fix the fake input created by react-select */
        box-shadow: none;
    }
}

.matrix-highlight .room-list {
    @include padded-list;
    margin-bottom: 1rem;
    flex-grow: 0;
    flex-basis: auto;

    .room {
        @include padded-list-item;
        &:last-child {
            border-bottom: none;
        }
    }

    .room-current {
        border: 0.08rem solid rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        margin-left: 0.25rem;
        padding: 0 0.25rem 0 0.25rem;
        background-color: rgba(52, 156, 235, 0.4);
    }

    .room-icon {
        @include padded-list-icon;
    }

    .room-name {
        @include padded-list-name;
    }

    .room-info {
        @include padded-list-body;
    }

    button {
        margin-right: 0.5rem;
    }

    .accept-button {
        background-color: #94ff9f;
        box-shadow: 0px 0px 5px rgba(#94ff9f, 70%);
    }

    .reject-button {
        background-color: #ff9b94;
        box-shadow: 0px 0px 5px rgba(#ff9b94, 70%);   
    }
}

.matrix-highlight #FirstGroupMessage {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    button {
        margin-top: 0.5rem;
    }
}
