@import "../../common/utils.scss";

#MatrixHighlightCreateRoom {
    @include bordered-block;
    padding: 1rem;
    flex-grow: 1;

    label {
        font-weight: bold;
        font-size: 1.2rem;
    }
}
