@import "../../common/utils.scss";

.matrix-highlight .tools-menu {
    padding: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.matrix-highlight  .room-select {
    input:focus {
        /* Fix the fake input created by react-select */
        box-shadow: none;
    }
}

.matrix-highlight .menu-button {
    @include padded-list-item;
    @include bordered-block;
    margin-bottom: 0.5em;

    .menu-button-icon {
        @include padded-list-icon;
    }

    .menu-button-title {
        @include padded-list-name;
    }

    .menu-button-subtitle {
        @include padded-list-body;
    }
}
.matrix-highlight #FirstGroupMessage {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    button {
        margin-top: 0.5em;
    }
}
