@import "../../common/utils.scss";

.usersView {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.userList {
    @include padded-list;
    margin-bottom: 1rem;
    flex-basis: 0;
    flex-grow: 1;

    .user {
        @include padded-list-item;
    }
    
    .userIcon {
        @include padded-list-icon;
    }

    .userName {
        @include padded-list-name;
    }

    .userInfo {
        @include padded-list-body;
    }
}
