@import "../../common/utils.scss";

.matrix-highlight .tooltip {
    @include bordered-block;
    font-family: 'Inconsolata';
    box-shadow: $default-shadow;
    padding: 0.25em;
    display: inline-block;
    position: absolute;

    h3 {
        font-size: 1.35em;
        margin-top: 0;
        margin-bottom: 0.25em;
    }

    &.large {
        width: 30em;
        padding: 1em;
    }

    .buttons {
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
    }
    
    .color-buttons {
        margin-right: auto;
    }

    button.round {
        min-width: 0;
        cursor: pointer;
        margin: 0.08em;
        padding: 0.25em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;

        &.primary svg {
            color: white;
        }

        svg {
            height: 1em;
            width: 1em;
        }
    }

    button.color-switch {
        background-color: rgba(var(--highlight-color), 0.7);
        padding: 0.75em;
        border-radius: 100%;
        border: 0.08em solid rgba(0, 0, 0, 0.10);

        &.current {
            background-color: rgba(var(--highlight-color), 0.2);
            border-color: rgba(0,0,0,0.5);
            border-style: dashed;
        }

        &:hover {
            background-color: rgba(var(--highlight-color), 0.4);
        }
    }
}
