@import "../../common/utils.scss";

.matrix-highlight .tooltip {
    @include bordered-block;
    font-family: 'Inconsolata';
    box-shadow: $default-shadow;
    padding: 0.25rem;
    display: inline-block;
    position: absolute;


    .comment-list, .no-comments {
        margin-bottom: 0.5rem;
    }

    .comment-list {
        @include bordered-block;

        .comment {
            padding: 0.5rem;
            &:not(:last-child) {
                border-bottom: $default-border;
            }
        }

        .sender {
            font-weight: bold;
            margin-right: 0.5rem;
        }
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0.25rem;
    }

    &.large {
        width: 30rem;
        padding: 1rem;
    }

    & > button {
        /* XXX: weird chrome behavior */
        border: 0.08rem solid #cacaca;
        border-color: rgba(0, 0, 0, 0.2);
        min-width: 0;
        cursor: pointer;
        margin: 0.08rem;
        padding: 0.25rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;

        &.primary svg {
            color: white;
        }

        svg {
            height: 1rem;
            width: 1rem;
        }
    }

    & > button.color-switch {
        background-color: rgba(var(--highlight-color), 0.7);
        padding: 0.75rem;
        border-radius: 100%;
        border: 0.08rem solid rgba(0, 0, 0, 0.10);

        &:hover {
            background-color: rgba(var(--highlight-color), 0.4);
        }
    }
}
