@import "../../common/utils.scss";

.matrix-highlight .window {
    @include bordered-block;
    font-family: "Inconsolata";
    box-shadow: $default-shadow;
    position: fixed;
    top: 2em;
    bottom: max(calc(100% - 50em), 2em);
    left: max(calc(50% - 25em), 3em);
    right: max(calc(50% - 25em), 3em);
    display: flex;
    flex-direction: column;

    & > .title {
        border-bottom: 0.08em solid #cacaca;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
    }

    .title-text {
        margin-left: 0.5em;
    }

    .close-button {
        height: 1em;
        width: 1em;
        min-width: 0;
        border: none;
        padding: 0;
        position: absolute;
        right: 1em;
        // ?? Cross is smaller than button
        display: flex;
        align-items: center;
        transition: color 0.25s;
        cursor: pointer;

        &:hover {
            color: red;
        }
    }

    .color-dot {
        height: 0.5em;
        width: 0.5em;
        border-radius: 100%;
        margin-right: 0.25em;
        background-color: rgb(var(--highlight-color));
    }
}
