@import "../../utils.scss";

.tabButton:not(.impossible) {
    flex-grow: 1;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    text-align: center;
    color: lighten(black, 30%);

    &:not(:last-child) {
        border-right: 0.08rem solid #cacaca;
    }

    &.active .tabButtonName {
        font-weight: bold;
        color: black;
        border-bottom: 0.1rem solid $primary-color;
    }
}
