@import '../utils.scss';

.toolbar-main {
    @include bordered-block;
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    
    & > button {
        background-color: inherit;
        border: none;
        padding: 0;
        min-width: 0;
        min-height: 0;
        width: 1.5rem;
        height: 1.5rem;

        &:nth-child(5n+1) { --highlight-color: #{$highlight-color-yellow}; }
        &:nth-child(5n+2) { --highlight-color: #{$highlight-color-pink}; }
        &:nth-child(5n+3) { --highlight-color: #{$highlight-color-green}; }
        &:nth-child(5n+4) { --highlight-color: #{$highlight-color-blue}; }
        &:nth-child(5n+0) { --highlight-color: #{$highlight-color-orange}; }

        &:hover {
            background-color: RGBA(var(--highlight-color), 0.3);
        }

        .feather {
            max-width: 75%;
        }
    }
}
