@import "./variables.scss";

@mixin bordered-block {
    @include var(background-color, background-color);
    border: 0.08em solid #cacaca;
    border-radius: 0.5em;
}

@mixin padded-list {
    @include bordered-block;
    overflow: auto;

    p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
}

@mixin padded-list-item {
    padding: 0.5em;
    display: grid;
    border-bottom: $default-border;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "icon name"
    "icon body";

    transition: background-color 0.1s;
    
    &:hover {
        @include var(background-color, background-color-hover);
        cursor: pointer;
    }
}

@mixin padded-list-icon {
    grid-area: icon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;

    .feather {
        height: 1.5em;
        width: 1.5em;
    }
}

@mixin padded-list-name {
    grid-area: name;
    font-weight: bold;
}

@mixin padded-list-body {
    grid-area: body;
}
