$default-shadow: 0 0 0.4em rgba(50, 50, 50, 0.3);
$default-border: 0.08em solid #cacaca;
$default-border-radius: 0.5em;

$primary-color: #3072c7;
$primary-color-light: lighten($primary-color, 20%);

$highlight-color-yellow: 255, 237, 79;
$highlight-color-pink: 255, 79, 167;
$highlight-color-green: 52, 235, 82;
$highlight-color-blue: 52, 156, 235;
$highlight-color-orange: 235, 147, 52;
