.matrix-highlight #LoginForm {
    text-align: left;
    margin: 0 auto 0 auto;
    max-width: 25rem;

    input[type="text"], input[type="password"] {
        width: 100%;
        box-sizing: border-box;
    }
}
