@import "../../utils.scss";

.users-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.user-list {
    @include padded-list;
    margin-bottom: 1rem;
    flex-basis: 0;
    flex-grow: 1;

    .user {
        @include padded-list-item;
    }
    
    .user-icon {
        @include padded-list-icon;
    }

    .user-name {
        @include padded-list-name;
    }

    .user-info {
        @include padded-list-body;
    }
}
