@import "../../utils.scss";

.room-list {
    @include bordered-block;
    overflow: auto;
    margin-bottom: 1rem;
    flex-basis: 0;
    flex-grow: 1;

    .room {
        padding: 0.5rem;
        display: grid;
        border-bottom: $default-border;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "icon name"
        "icon info";

        transition: background-color 0.1s;
        &:hover {
            background-color: #f0f0f0;
            cursor: pointer;
        }
    }
    
    .room-current {
        border: 0.08rem solid rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        margin-left: 0.25rem;
        padding: 0 0.25rem 0 0.25rem;
        background-color: rgba(52, 156, 235, 0.4);
    }

    .room-icon {
        grid-area: icon;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem;

        .feather {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    .room-name {
        grid-area: name;
        font-weight: bold;
    }

    .room-info {
        grid-area: info;
    }

    p {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
}
