@import "../../utils.scss";

.room-list {
    @include padded-list;
    margin-bottom: 1rem;

    .room {
        @include padded-list-item;
    }
    
    .room-current {
        border: 0.08rem solid rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        margin-left: 0.25rem;
        padding: 0 0.25rem 0 0.25rem;
        background-color: rgba(52, 156, 235, 0.4);
    }

    .room-icon {
        @include padded-list-icon;
    }

    .room-name {
        @include padded-list-name;
    }

    .room-info {
        @include padded-list-body;
    }
}

#FirstGroupMessage {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    button {
        margin-top: 0.5rem;
    }
}
