@import "../../common/utils.scss";

.matrix-highlight {
    .comment-list, .no-comments {
        margin-bottom: 0.5em;
    }

    .comment-list {
        @include bordered-block;

        .comment {
            p {
                margin: 0;
            }

            padding: 0.5em;
            &:not(:last-child) {
                border-bottom: $default-border;
            }
        }

        .sender {
            font-weight: bold;
            margin-right: 0.5em;
        }
    }
}
