@import "../../common/utils.scss";

.commentList, .noComments {
    margin-bottom: 0.5rem;
}
.commentList {
    @include bordered-block;

    .comment {
        p {
            margin: 0;
        }

        padding: 0.5rem;
        &:not(:last-child) {
            border-bottom: $default-border;
        }
    }

    .sender {
        font-weight: bold;
        margin-right: 0.5rem;
    }
}
