@import "./utils.scss";

.yellow { --highlight-color: #{$highlight-color-yellow}; }
.pink { --highlight-color: #{$highlight-color-pink}; }
.green { --highlight-color: #{$highlight-color-green}; }
.blue { --highlight-color: #{$highlight-color-blue}; }
.orange { --highlight-color: #{$highlight-color-orange}; }

.highlight {
    background-color: rgba(var(--highlight-color), 0.7);
    transition: background-color 0.25s;

    &.active {
        background-color: rgba(var(--highlight-color), 1);
    }
}

body {
  margin: 0;
  font-family: Iosevka;
  max-width: 800px;
  margin: auto;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"], input[type="password"] {
    @include bordered-block;
    margin: 0.5rem 0 0.5rem 0;
    max-width: 30rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    transition: box-shadow 0.25s, border-color 0.25s;

    &:focus {
        outline: none;
        border-color: $primary-color;
        box-shadow: 0px 0px 5px rgba($primary-color, 0.4);
    }

    &:disabled {
        background-color: #eaeaea;
    }
}

fieldset {
    border: none;
}

button, input[type="submit"] {
    @include bordered-block;
    background: white;
    padding: 0.5rem;
    text-transform: uppercase;
    font-family: Iosevka;
    font-weight: bold;
    transition: background-color 0.1s;
    border-color: rgba(0, 0, 0, 0.20);
    min-width: 5rem;

    &.destructive {
        background-color: tomato;
        color: white;

        &:hover {
            background-color: lighten(tomato, 10%);
        }

        &:disabled {
            background-color: lighten(tomato, 10%);
        }
    }

    &.primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: $primary-color-light;
        }

        &:disabled {
            background-color: $primary-color-light;
        }
    }
}
