@import "./variables.scss";

@mixin bordered-block {
    background-color: white;
    border: 0.08rem solid #cacaca;
    border-radius: 0.5rem;
}

@mixin padded-list {
    @include bordered-block;
    overflow: auto;
    flex-basis: 0;
    flex-grow: 1;

    p {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
}

@mixin padded-list-item {
    padding: 0.5rem;
    display: grid;
    border-bottom: $default-border;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "icon name"
    "icon body";

    transition: background-color 0.1s;
    &:hover {
        background-color: #f0f0f0;
        cursor: pointer;
    }
}

@mixin padded-list-icon {
    grid-area: icon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;

    .feather {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@mixin padded-list-name {
    grid-area: name;
    font-weight: bold;
}

@mixin padded-list-body {
    grid-area: body;
}
