@import "../common/utils.scss";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.yellow { --highlight-color: #{$highlight-color-yellow}; }
.pink { --highlight-color: #{$highlight-color-pink}; }
.green { --highlight-color: #{$highlight-color-green}; }
.blue { --highlight-color: #{$highlight-color-blue}; }
.orange { --highlight-color: #{$highlight-color-orange}; }

.highlight {
    background-color: rgba(var(--highlight-color), 0.7);
    transition: background-color 0.25s;

    &.active {
        background-color: rgba(var(--highlight-color), 1);
    }
}
    
.matrixHighlight {
    all: initial;

    *:not(svg,path,circle,line,:global(.roomSelect),:global(.roomSelect) *,:global(.DraftEditor-root) *) {
        all: revert;
    }

    .toolbarMain, .window {
        z-index: 999;
    }

    /* Increasing specificity to circumvent all: revert */
    svg.feather {
        fill: none;
    }

    input[type="text"], input[type="password"], .editor {
        @include bordered-block;
        margin: 0.5rem 0 0.5rem 0;
        max-width: 30rem;
        border-radius: 0.25rem;
        padding: 0.5rem;
        transition: box-shadow 0.25s, border-color 0.25s;
    
        &:focus, &.focused {
            outline: none;
            border-color: $primary-color;
            box-shadow: 0px 0px 5px rgba($primary-color, 0.4);
        }
    
        &:disabled {
            background-color: #eaeaea;
        }
    }
    
    .inputGroup {
        display: flex;
        margin: 0.5rem 0 0.5rem 0;
    
        input[type="text"], input[type="password"] {
            flex-grow: 1;
            max-width: none;
            margin: 0;
        }
    
        input[type="text"], input[type="password"], button {
            &:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
    
            &:not(:first-child) {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                border-left: none;
            }
        }
    }

    /* Increasing specificity to circumvent all: revert */
    form:not(.impossible) {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        input[type="submit"] {
            margin-top: 0.5rem;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            box-sizing: border-box;
        }
    }
    
    /* Increasing specificity to circumvent all: revert */
    fieldset:not(.impossible) {
        border: none;
    }
    
    /* Increasing specificity to circumvent all: revert */
    button:not(.impossible), input[type="submit"] {
        @include bordered-block;
        background: white;
        padding: 0.5rem;
        text-transform: uppercase;
        font-family: "Inconsolata";
        font-weight: bold;
        transition: background-color 0.1s;
        border-color: rgba(0, 0, 0, 0.20);
        min-width: 5rem;

        &.labeledIconButton {
            display: inline-flex;
            align-items: center;

            .feather {
                margin-right: 0.5rem;
            }
        }
        
        &:hover {
            background-color: #f0f0f0;
        }
    
        &.destructive {
            background-color: tomato;
            color: white;
    
            &:hover {
                background-color: lighten(tomato, 10%);
            }
    
            &:disabled {
                background-color: lighten(tomato, 10%);
            }
        }
    
        &.primary {
            background-color: $primary-color;
            color: white;
    
            &:hover {
                background-color: $primary-color-light;
            }
    
            &:disabled {
                background-color: $primary-color-light;
            }
        }
    }
}
