@import "../../common/utils.scss";

.editor:not(.impossible) {
    /* Most styles are inherited from common.scss and shared with text inputs. */
    padding: 0;

    .editorButtons {
        border-bottom: $default-border;
        padding: 0.25rem;

        button {
            border-color: rgba(0,0,0,0);
            min-width: 0;
            padding: 0.25rem;

            &.current {
                border: $default-border;
            }
        }
    }

    .editorBox {
        padding: 0.5rem;
    }
}
